<!--<div class="card mb-3">
  <div class="card-header bg-gradient-light text-center">
    <a routerLink="/items/{{ id }}">
      <small class="text-primary font-italic font-weight-bold">{{ name  }}</small>
    </a>
  </div>
</div>-->
<div class="card shadow m-1 mt-2">
  <!-- Card Header - Dropdown -->
  <div class="card-header bg-gradient-light py-0 d-flex flex-row align-items-center">
    <div class="col-lg-11 col-md-11 px-0">
      <a style="text-decoration: none" [href]="'#collapseItem'+id" class="d-block py-2 text-truncate" data-toggle="collapse" role="button" aria-expanded="true">
        <small class="font-weight-bold font-italic text-primary">{{ name }}</small>
      </a>
    </div>

    <!-- Dropdown Item -->
    <div class="dropdown no-arrow">
      <!-- Bouton menu animé -->
      <a class="dropdown-toggle" href="#" role="button" [id]="'dropdownItem'+id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v fa-sm fa-fw text-primary"></i>
      </a>
      <!-- Menu annimé -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" [attr.aria-labelledby]="'dropdownItem'+id">
        <div class="dropdown-header">{{ name }}</div>
        <a class="dropdown-item" data-toggle="modal" data-backdrop="static" data-keyboard="false" [attr.data-target]="'#addSubItemModal'+id" href="#">
          Ajouter un exemplaire
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" data-toggle="modal" data-backdrop="static" data-keyboard="false" [attr.data-target]="'#renameItemModal'+id" href="#">
          Renommer <span class="font-weight-bolder">{{ name }}</span>
        </a>
        <a class="dropdown-item" data-toggle="modal" data-backdrop="static" data-keyboard="false" [attr.data-target]="'#moveItemModal'+id" href="#">
          Déplacer <span class="font-weight-bolder">{{ name }}</span>
        </a>
        <a class="dropdown-item" data-toggle="modal" data-backdrop="static" data-keyboard="false" [attr.data-target]="'#deleteItemModal'+id" href="#">
          Supprimer <span class="font-weight-bolder">{{ name }}</span>
        </a>
      </div>
    </div>
  </div>
  <!-- Item Body -->
  <div class="collapse" [id]="'collapseItem'+id">
    <div class="card-body bg-light py-1">
      <!-- SUBITEM -->
      <div class="card-deck">
      <app-sub-item *ngFor="let subItem of subItems"
                    [reference]="subItem.reference"></app-sub-item>
      </div>
      <!-- EXEMPLE DIAPORAMA POSSIBLE -> Si diapora modifier urlItem: string -> urlItem: string[]
      Ou diaporama pour les subItem ??
      <div [id]="'carouselExampleIndicators'+id" class="carousel carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          <li [attr.data-target]="'#carouselExampleIndicators'+id" data-slide-to="0" class="active"></li>
          <li [attr.data-target]="'#carouselExampleIndicators'+id" data-slide-to="1"></li>
          <li [attr.data-target]="'#carouselExampleIndicators'+id" data-slide-to="2"></li>
          <li [attr.data-target]="'#carouselExampleIndicators'+id" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">

          <div class="carousel-item active">
            <img class="border border-dark d-block m-auto" src="https://www.jojolabrocante.com/ressources/catalogue_etendu_13/items/objets_anciens-man2.jpg" width="200" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="border border-dark d-block m-auto" src="https://www.zephyr3d.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/l/a/lampe-en-verre-horizontale-gravure-3d.jpg" width="200" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="border border-dark d-block m-auto" src="http://www.objets-pub-express.com/media/mug_promo__rouge5__071375100_0724_21102010.jpg" width="200" alt="Third slide">
          </div>
          <div class="carousel-item">
            <img class="border border-dark d-block m-auto" src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Square_200x200.png" width="200" alt="Forth slide">
          </div>
        </div>
        <a class="carousel-control-prev" [href]="'#carouselExampleIndicators'+id" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" [href]="'#carouselExampleIndicators'+id" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>-->
    </div>
  </div>
</div>



<!-- ******************************************************** MODALS *********************************************** -->
<!-- rename item Modal-->
<div class="modal fade" [id]="'renameItemModal'+id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">
          Renommer <span class="font-weight-bolder">{{ name }}</span> ?
        </h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <form [formGroup]="renameItemForm">
        <div class="modal-body text-center">
          <div class="form-group">
            <input class="form-control form-control-user" formControlName="name" id="nameRename" type="text"
                   placeholder="Saisir le nouveau nom de '{{ name }}'" [maxlength]="maxlengthItemName">
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
          <button class="btn btn-primary" type="submit" data-dismiss="modal" (click)="onSubmitRenameItemForm()" [disabled]="!renameItemForm.valid">Renommer</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- Move Item Modal-->
<div class="modal fade" [id]="'moveItemModal'+id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel5">
          Déplacer <span class="font-weight-bolder">{{ name }}</span> ?
        </h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <form [formGroup]="moveItemForm">
        <div class="modal-body text-center">
          <div class="form-group">
            <select class="form-control custom-select text-muted" formControlName="categoryMove" id="categoryMove">
              <option value="" disabled="disabled" hidden="hidden">Choisir la catégorie de destination</option>
              <option *ngFor="let pCategory of getFullCategoriesInOneArray()" [value]="pCategory.id">{{ pCategory.name }}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
          <button class="btn btn-primary" type="submit" data-dismiss="modal" (click)="onSubmitMoveItemForm()" [disabled]="!moveItemForm.valid">Déplacer {{ name }}</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- delete item Modal-->
<div class="modal fade" [id]="'deleteItemModal'+id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel3">
          Supprimer <span class="font-weight-bolder">{{ name }}</span> ?
        </h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <form [formGroup]="deleteItemForm">
        <div class="modal-body">
          <div>Etes-vous sur de vouloir supprimer <span class="font-weight-bolder">{{ name }}</span> ?</div>
          <div class="text-danger">Tous les exemplaires de cet objet ainsi que les prets qui y sont associés seront également supprimés.</div>
          <div>
            <input class="mr-2" type="checkbox" formControlName="checkbox">
            <span class="font-weight-bolder">Cocher</span>
            la croix puis cliquez sur
            <span class="font-weight-bolder">Supprimer</span>
            pour continuer...
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
          <button class="btn btn-primary" type="submit" data-dismiss="modal" (click)="onSubmitDeleteItemForm()" [disabled]="!deleteItemForm.valid">Supprimer</button>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- add subitem Modal-->
<div class="modal fade" (focus)="checkIfModalCreateSubItemAlreadyOpened()" [id]="'addSubItemModal'+id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel4">
          Ajouter un exemplaire à <span class="font-weight-bolder">{{ name }}</span> ?
        </h5>
        <button (click)="onCancelCreateSubItemForm()" class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <form [id]="'createSubItemForm'+id" [formGroup]="createSubItemForm">
        <div class="modal-body text-center pt-2 pb-1">
          <div [ngClass]="{'invisible': createSubItemForm.valid }" class="text-left mb-2">
            <div *ngIf="createSubItemForm.controls.reference.errors?.minlength" class="alert-danger">
              <small>La référence doit faire au moins 6 caractères</small>
            </div>
            <div *ngIf="createSubItemForm.controls.reference.errors?.checkatomicref" class="alert-danger">
              <small>Vous utilisez déjà cette référence pour un de vos objets</small>
            </div>
            <div *ngIf="createSubItemForm.controls.reference.errors?.failatomicref" class="alert-danger">
              <small>Une erreur de communication s'est produite</small>
            </div>
            <div *ngIf="createSubItemForm.controls.reference.errors === null"
                 [ngClass]="{'invisible': createSubItemForm.valid}">
              <small>.</small>
            </div>
          </div>
          <div class="form-group">
            <input class="form-control form-control-user" formControlName="reference" id="reference" type="text"
                   placeholder="Saisir une référence pour le nouvel exemplaire" [maxlength]="maxlengthSubItemReference">
            <div class="form-group">
              <div class="card-deck mx-1 justify-content-around" *ngIf="imgPreview !== null && imgPreview.length > 0">
                <div class="pt-4 pb-0" *ngFor="let img of imgPreview; let i = index">
                  <span id="img-helper" class="align-middle d-inline-block h-100"></span>
                  <figure class="p-0 m-0 d-inline-block align-middle">
                    <img #htmlImageElement (load)="onLoadImg(htmlImageElement, img)" class="d-none m-auto" [src]="img">
                    <figcaption style="justify-content: space-between; display: flex" class="text-left justify-content-between align-content-between">
                      <small>
                        {{filesToUpload[i].name.substring(0, filesToUpload[i].name.length > 16 ? 16 : filesToUpload[i].name.length)}}
                        {{filesToUpload[i].name.length > 16 ? '...' : ''}}
                      </small>
                      <small>
                        {{(filesToUpload[i].size/1024 | number: '1.0-1') + ' Ko'}}
                      </small>
                    </figcaption>
                  </figure>
                </div>
              </div>
              <input class="d-none" #input multiple="multiple" formControlName="files" type="file" id="files" accept="image/*" (change)="handleFileInput($event.target.files)">
            </div>
          </div>
          <div  *ngIf="formatUnsuppErrFile"  class="text-left">
            <p class="m-0 ml-1 alert-danger"><small>
              Le format <span class="font-weight-bolder text-truncate">{{ formatUnsuppErrFile.type }}</span> de
              <span class="font-weight-bolder text-truncate">{{ formatUnsuppErrFile.name }}</span> n'est pas pris en charge.
            </small></p>
            <p class="m-0 ml-1 alert-danger"><small>
              Format supporté: <span class="font-weight-bolder">{{ formatSupportedStr }}</span>
            </small></p>
          </div>
          <div  *ngIf="sizeMaxErrFile"  class="text-left">
            <p class="m-0 ml-1 alert-danger"><small>
              Le poids de <span class="font-weight-bolder text-truncate">{{ sizeMaxErrFile.name }}</span> de
              <span class="font-weight-bolder">{{ sizeMaxErrFile.size/1024 | number: '1.0-1' }} Ko</span> fait dépasser la limite
              autorisée de <span class="font-weight-bolder">{{ filesSizeMax/1024/1024 | number: '1.0-0' }} Mo</span> par exemplaire d'item.
            </small></p>
            <p class="m-0 ml-1 alert-danger"><small>
              Poids restant: <span class="font-weight-bolder">{{ (filesSizeMax - getFilesSize()) / 1024 | number: '1.0-1' }} Ko</span>
            </small></p>
          </div>
        </div>
        <div class="ml-3 m-0 p-0">
          <small class="text-success">
            Poids des images <i class="fas fa-long-arrow-alt-right"></i> {{getFilesSize()/1024/1024 | number: '1.0-2'}} / {{filesSizeMax/(1024*1024)}} Mo
          </small>
        </div>
        <div class="modal-footer justify-content-between">
          <div>
            <button class="btn btn-info" (click)="input.click()">
              <i style="font-size: 20px" class="fas fa-file-upload"></i> Ajouter une image
            </button>
          </div>
          <div>
            <button class="btn btn-danger" type="button" data-dismiss="modal" (click)="onCancelCreateSubItemForm()">Annuler</button>
            <button class="ml-2 btn btn-primary" type="submit" data-dismiss="modal" (click)="onSubmitCreateSubItemForm()" [disabled]="!createSubItemForm.valid">Ajouter l'exemplaire</button>
          </div>
         </div>
      </form>
    </div>
  </div>
</div>
