<div *ngIf="subitem.trackingSheets && subitem.trackingSheets.length > 0"  class="ml-0 mr-0 card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Fiche de suivi</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable">
                <thead class="thead-light">
                <tr [id]="'trHead' + subitem.id + subitem.getClassNameFirstLetter()">
                    <th><span (click)="onClickDeleteAllTrackingSheet()"><i class="fas fa-trash"></i></span></th>
                    <th [id]="'thDate' + subitem.id + subitem.getClassNameFirstLetter()" >Date<i class="ml-3 fas fa-sort"></i></th>
                    <th>Commentaire<i class="ml-3 fas fa-sort"></i></th>
                </tr>
                </thead>
                <tbody [id]="'tbody'+subitem.id">
                <tr *ngFor="let sheet of subitem.trackingSheets; let i = index">
                    <td [ngClass]="{'bg-light': i%2 === 1, 'align-middle text-center': true}">
                        <span (click)="onCLickDeleteTrackingSheet(sheet)"><i class="fas fa-trash"></i></span>
                    </td>
                    <td [ngClass]="{'bg-light': i%2 === 1, 'align-middle text-center': true}"  [attr.data-sort]="sheet.date">
                        <small>{{ sheet.date | date: 'dd/MM/yyyy' }}</small>
                    </td>
                    <td [ngClass]="{'bg-light': i%2 === 1}">
                        <small>{{ sheet.comment }}</small>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
