<div class="mt-4">
    <div class="card-deck align-items-center justify-content-between">
        <div class="d-flex">
            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="text-gray-800 btn btn-link d-md-none rounded-circle mr-1 ml-1">
                <i class="fa fa-bars"></i>
            </button>
            <h1 class="mb-2 text-gray-800">Mémos</h1>
        </div>
        <div class="text-center d-flex flex-row">
            <h5>
                <button class="mr-3 p-3 btn btn-primary font-weight-bolder" data-toggle="modal" data-target="#addMemoModal">
                    Ajouter un mémo
                </button>
            </h5>
        </div>
    </div>
    <hr />
    <div *ngIf="!memos || memos.length === 0" class="text-center">
        <h3 class="mt-5">Vous n'avez aucun mémo</h3>
        <h5 class="mt-5">Vous pouvez créer un mémo grâce au bouton ci-dessus<i class="ml-3 fas fa-long-arrow-alt-up"></i></h5>
    </div>
    <div *ngIf="memos && memos.length > 0" class="card-deck justify-content-start">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3" *ngFor="let memo of memos">
            <div class="card shadow m-1 mb-2 mt-2">
                <!-- Card Header - Dropdown -->
                <div class="card-header bg-gradient-light py-0 d-flex flex-row align-items-center">
                    <div class="col-11 px-0">
                        <a [href]="'#collapseMemo'+memo.id" class="d-block pt-2 text-decoration-none" data-toggle="collapse" role="button" aria-expanded="true">
                            <!--<h5 class="font-weight-bold font-italic text-gray-800 text-truncate">{{ name }}</h5>-->
                            <h6 class="font-weight-bold font-italic text-primary text-truncate">{{memo.title}}</h6>
                        </a>
                    </div>

                    <!-- Dropdown Category -->
                    <div class="dropdown no-arrow">
                        <!-- Bouton menu animé -->
                        <a class="dropdown-toggle" href="#" role="button" [id]="'dropdownMemo'+memo.id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-primary"></i>
                        </a>
                        <!-- Menu annimé -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" [attr.aria-labelledby]="'dropdownMemo'+memo.id">
                            <!-- <div class="dropdown-header">{{ name }}</div> -->
                             <div class="dropdown-header">{{memo.title}}</div>
                            <div class="dropdown-divider"></div>
                             <a class="dropdown-item text-decoration-none" href="#" (click)="onUpdateMemoClick(memo)"
                                data-toggle="modal" [attr.data-target]="'#addMemoModal' + (this.memoToUpdate ? this.memoToUpdate.id : '')">
                                 <span class="font-weight-bolder">Modifier</span> le mémo
                             </a>
                             <a class="dropdown-item" href="#" (click)="onDeleteMemoClick(memo)"
                                data-toggle="modal" data-target="#deleteMemoModal">
                                 <span class="font-weight-bolder">Supprimer</span> le mémo
                             </a>
                         </div>
                     </div>
                 </div>

                 <!-- Category Body -->
                <div class="collapse" [id]="'collapseMemo'+memo.id">
                    <div class="card-body bg-light py-2 px-3">
                        <p class="text-primary">{{memo.title}}</p>
                        <hr>
                        <p class="text-primary">{{memo.content}}</p>
                        <hr>

                        <div *ngIf="(!memo.reminderByDate || memo.reminderByDate.length === 0)
                                    && !memo.reminderByDay">
                            <p class="text-danger">Aucun rappel de programmé.</p>
                        </div>

                        <div *ngIf="(memo.reminderByDate && memo.reminderByDate.length > 0)
                                    && !memo.reminderByDay">
                            <div *ngIf="memo.reminderByDate.length === 1">
                                <p [ngClass]="{'text-success': getDateNbr(memo.reminderByDate[0].reminderDate.toString()) > todayDate,
                                                'text-danger': getDateNbr(memo.reminderByDate[0].reminderDate.toString()) <= todayDate}">
                                    Rappel le {{memo.reminderByDate[0].reminderDate | date: 'dd/MM/yyyy'}}
                                </p>
                            </div>
                            <div *ngIf="memo.reminderByDate.length > 1">
                                <p class="mb-1 text-primary">Rappel les :</p>
                                <ul>
                                    <li *ngFor="let reminder of memo.reminderByDate; let i = index"
                                        [ngClass]="{'text-success': getDateNbr(memo.reminderByDate[i].reminderDate.toString()) > todayDate,
                                                'text-danger': getDateNbr(memo.reminderByDate[i].reminderDate.toString()) <= todayDate}">
                                        {{reminder.reminderDate | date: 'dd/MM/yyyy'}}
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div *ngIf="memo.reminderByDay && (!memo.reminderByDate || memo.reminderByDate.length === 0)"
                             class="text-success">
                            <p class="mb-1">Rappel chaque :</p>
                            <ul>
                                <li *ngIf="memo.reminderByDay.monday">Lundi</li>
                                <li *ngIf="memo.reminderByDay.tuesday">Mardi</li>
                                <li *ngIf="memo.reminderByDay.wednesday">Mercredi</li>
                                <li *ngIf="memo.reminderByDay.thursday">Jeudi</li>
                                <li *ngIf="memo.reminderByDay.friday">Vendredi</li>
                                <li *ngIf="memo.reminderByDay.saturday">Samedi</li>
                                <li *ngIf="memo.reminderByDay.sunday">Dimanche</li>
                            </ul>

                        </div>

                        <hr>
                        <div class="text-right">
                            <small class="text-secondary">Modifié le {{memo.lastModif | date: 'dd/MM/yyyy'}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ******************************************************** MODALS ************************************************-->
<!-- ADD CATEGORY -->
<app-add-memo-modal></app-add-memo-modal>
<app-add-memo-modal *ngIf="memoToUpdate" [whoMemoUpdate]="memoToUpdate"></app-add-memo-modal>
<app-delete-memo-modal *ngIf="memoToDelete" [whoMemoToDelete]="memoToDelete"></app-delete-memo-modal>
