    <!--
    <div class="col-lg-3 col-md-3 mb-3" *ngFor="let item of items">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">{{item.titre}}</h6>
        </div>
        <div class="card-body">
          <p>{{item.prix}}€</p>
        </div>
      </div>
    </div>
    -->
    <div class="container">
      <app-category *ngFor="let category of categoriesParent"
                    [id]="category.id"
                    [name]="category.name"
                    [categories]="category.categories"
                    [items]="category.items">
      </app-category>
    </div>



