<div class="card-deck align-items-center justify-content-between">
  <div>
    <h1 class="h1 mb-2 text-gray-800">Inventaire</h1>
  </div>
  <div>
    <div class="text-center d-flex flex-row">
      <h5>
        <button class="mr-5 p-3 btn btn-primary" data-toggle="modal"
                [attr.data-target]="'#addCategoryModal'+this.category.id">
          Ajouter une catégorie
        </button>
      </h5>
      <h5>
        <button class="mr-1 p-3 btn btn-primary" data-toggle="modal"
                [attr.data-target]="'#addItemModal'+this.category.id">
          Ajouter un objet
        </button>
      </h5>
    </div>
  </div>
</div>
<hr />
<div *ngIf="category != null">
  <div class="card-deck" *ngIf="category.items != null && category.items.length > 0">
    <app-item *ngFor="let item of category.items"
              [id]="item.id"
              [name]="item.name"
              [description]="item.description"
              [urlItem]="item.urlItem"
              [subItems]="item.subItems">
    </app-item>
  </div>
  <hr *ngIf="category.items != null && category.items.length > 0" />
  <div class="card-deck" *ngIf="category.categories != null && category.categories.length > 0">
    <app-category *ngFor="let category of category.categories"
                  [id]="category.id"
                  [name]="category.name"
                  [categories]="category.categories"
                  [items]="category.items">
    </app-category>
  </div>
</div>

<!-- ******************************************************** MODALS ************************************************-->
<!-- ADD CATEGORY -->
<app-add-category-modal [category]="this.category"></app-add-category-modal>

<!-- ADD ITEM -->
<app-add-item-modal [id]="this.category.id" [nameTitle]="this.category.name" [formWithCategory]="true"></app-add-item-modal>

